$font-color-blue: green;
$font-color-red: red;

%message {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}

.author {
    @extend %message;
    background-color: green;
}

.points_landing {
    @extend %message;
    background-color: orange;
}

.landing {
    @extend %message;
    background-color: red;
}

.fixtures_landing {
  @extend %message;
  background-color: grey; }

.row > div {
  padding: 10px;
  background-color: white;
  border: 1px solid black;
}

div {
    font-size: 16px;

    p {
        color: $font-color-blue;
    }

    ul {
        color: $font-color-red;
    }
}


#points_table_header {
  text-align: left;
  color: blue;
  font-size: 18px; }

#row_header {
      text-align: left;
      color: blue;
      font-size: 18px;
      font-weight: bold;
}
.arrow:before {
       content: "\21d2  Click here: ";
       font-weight: bold;
}
.contact_prefix:before {
        content: "\21d2  Contact ";
        font-weight: bold;
}
@media print {
  .screen-only {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #author_image {
    display: none;
    }
}
