<!-- HTML page for viewing cart items. It supports deleting items from cart, clearing the cart and placing an order. -->
{% extends "orders/logged-in-layout.html" %}

{% block body %}
    {% load static %}

    <script src="{% static 'orders/cart.js' %}"></script>
    <ul>
        <li>Currently logged in as: {{ user.username }}</li>

        {% if item_count > 0 %}
            <li class="total_price_count" id="total_price_count" name="total_price_count"> Cart Total(
                for {{ item_count }} item): ${{ order_total }}</li>
        {% else %}
            <li class="total_price_count" id="total_price_count" name="total_price_count"> Cart is empty.</li>

        {% endif %}
    </ul>

    <!-- Add the table with a list of items-->
    <div class="container">
        {% csrf_token %}
        {% if item_count > 0 %}
            <table class="table table-bordered table-striped" id="carttable">
                <tr>
                    <th>
                        Item Name
                    </th>
                    <th>
                        Item count
                    </th>
                    <th>
                        Item price
                    </th>
                    <th>Remove</th>
                    </th>
                </tr>
                {% for item in items %}
                    <tr id="row{{ item.unique_item_id }}">
                        <td>
                            {{ item.cat_name }} - {{ item.item_name }}
                            {% if item.topping_list|length > 0 %}
                                <br/>Toppings
                                {% for topping in item.topping_list %}
                                    <br/>&nbsp;&nbsp;&nbsp;-{{ topping.topping_name }}
                                {% endfor %}
                            {% endif %}

                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            ${{ item.item_price }}
                            {% if item.topping_list|length > 0 %}
                                <br/>Toppings Cost
                                {% for topping in item.topping_list %}
                                    <br/>&nbsp;&nbsp;&nbsp;+ (${{ topping.price }})
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td scope="row" align="center" class="align-middle">
                            <button id="removefromcart" class="removefromcart btn-warning .removefromcart"
                                    data-item-id="{{ item.id }}" data-item-name="{{ item.name }}"
                                    data-item-unique-id="{{ item.unique_item_id }}"
                                    data-category-id="{{ category.id }}"><span class="glyphicon glyphicon-trash"></span>
                                Remove
                            </button>
                        </td>
                    </tr>

                {% endfor %}
            </table>
        {% endif %}
    </div>
    <!-- Add buttons at the bottom of the paged to clear/place order -->
    <div class="container">
        {% if item_count > 0 %}
            <div class="pull-left">
                <button type="button" class="btn btn-danger btn-default btn-block btn-lg" id="clearcart"
                        name="clearcart">
                    <span class="glyphicon glyphicon-remove"></span>&nbsp;Clear Cart
                </button>
            </div>

            <div class="pull-right">
                <button type="button" class="btn btn-success btn-default btn-block btn-lg" id="placeorder"
                        name="placeorder">
                    <span class="glyphicon glyphicon-ok"></span>Place Order&nbsp;
                </button>
            </div>
        {% endif %}

    </div>
{% endblock %}
