<!-- landing page post successfull login, displays a list of categories and items in that category. -->
{% extends "orders/logged-in-layout.html" %}

{% block body %}
    {% load static %}

    <script src="{% static 'orders/app.js' %}"></script>

    <ul>
        <li>Currently logged in as: {{ user.username }}</li>

        {% if item_count > 0 %}
            <li class="total_price_count" id="total_price_count" name="total_price_count"> Cart Total(
                for {{ item_count }} item): {{ total_price }}</li>
        {% else %}
            <li class="total_price_count" id="total_price_count" name="total_price_count"> Cart is empty.</li>

        {% endif %}
    </ul>
    <!-- Generate inner navigation bar for the categories.-->
    <ul class="nav nav-tabs" id="categoryList" role="tablist">
        {% for category in categories %}
            <li class="nav-item">
                <a class="nav-link span" id="{{ category.id }}" data-toggle="tab" data-url="category/{{ category.id }}"
                   href="#{{ category.id }}" role="tab"
                   aria-controls="{{ category.name }}"
                   data-target="#item_list{{ category.id }}">{{ category.name }}</a>
            </li>
        {% empty %}
            <li>No Categories</li>
        {% endfor %}

    </ul>
    <!-- Generate divs with items for each category.-->

    <div class="tab-content">
        {% csrf_token %}

        {% for category in categories %}
            <div class="tab-pane" id="item_list{{ category.id }}" name="item_list{{ category.id }}">
                <div class="container-fluid row">

                    {% for item in category.items %}
                        <div class="item_template div-rcorners col-md-2">
                            <td><b>{{ item.name }}</b></td>
                            <br><br>

                            {% for prc in item.prices %}
                                <tr>
                                    <td>
                                        <p>
                                            {{ prc.name }} (${{ prc.price }}) :{% if prc.addon_limit > 0 %}
                                            <button id="customizeitem"
                                                    class="btn btn-default btn-block btn-dark btn-block customizeitem"
                                                    data-item-id="{{ item.id }}" data-item-name="{{ item.name }}"
                                                    data-item-size="{{ prc.name }}" data-item-price="{{ prc.price }}"
                                                    data-category-id="{{ category.id }}"
                                                    data-add-ons="{{ prc.addon_limit }}" data-price-id="{{ prc.id }}">
                                                Customize
                                            </button>{% else %}
                                            <button id="addtocart"
                                                    class="btn btn-default btn-block btn-primary btn-block addtocart"
                                                    data-item-id="{{ item.id }}"
                                                    data-category-id="{{ category.id }}"
                                                    data-add-ons="{{ prc.addon_limit }}" data-price-id="{{ prc.id }}">
                                                Add
                                            </button>{% endif %}
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>

        {% endfor %}

    </div>

    <!-- Modal that is opened for selection of different free/paid toppings-->
    <div class="modal fade" id="toppingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Topping Selection</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" id="modal_item_name" name="modal_item_name">Item
                                Name:</label><br>
                            <label for="recipient-price" id="modal_item_price" name="modal_item_price">Item
                                Price:</label><br>
                            <label for="recipient-price" id="modal_item_Size" name="modal_item_Size">Size:</label><br>
                        </div>
                        <div class="modal-body">
                            <ul id="assetNameMenu">
                            </ul>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <p style="color: red" id="topping_error_msg" name="topping_error_msg"></p>
                    <button class="btn btn-primary add_toppings" id="add_toppings" name="add_topings">Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
