<!-- HTML page to display a list of orders for a user, if the currently logged in user is superadmin, it will display all the orders in the system-->
{% extends "orders/logged-in-layout.html" %}

{% block body %}
    <ul>
        <li>Currently logged in as: {{ user.username }}</li>

        {% if order_list|length > 0 %}
            <li>Total Number of orders placed : {{ order_list|length }}</li>
        {% else %}
            <li> Your order history is empty.</li>
        {% endif %}
    </ul>

    <!-- Display a tabular view of orders-->
    <div class="container">
        {% csrf_token %}
        {% if order_list|length > 0 %}
            <table class="table table-bordered table-striped" id="carttable">
                <tr>
                    <th>
                        Order Id
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        State
                    </th>
                    <th>
                        # of Items
                    </th>
                    <th>
                        Total
                    </th>
                    <th>

                    </th>
                </tr>
                {% for order in order_list %}
                    <tr id="row{{ order.order_id }}">
                        <td>
                            {{ order.order_id }}
                        </td>
                        <td>
                            {{ order.order_time }}
                        </td>
                        <td>
                            {{ order.order_state }}
                        </td>
                        <td>
                            {{ order.item_count }}
                        </td>
                        <td>
                            {{ order.order_amount }}
                        </td>
                        <td scope="row" align="center" class="align-middle">
                            <button id="view{{ order.order_id }}" class="removefromcart btn-warning"><span
                                    class="glyphicon glyphicon-zoom-in"></span>
                                <a href="{% url 'order' order_id=order.order_id %}">
                                    {% if request.user.is_superuser and order.order_state != "Picked up"%}
                                        Update Status
                                    {% else %}
                                        Details
                                    {% endif %}</a>
                            </button>
                        </td>
                    </tr>

                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}
